<body style="background-image: url(https://ftp.bmp.ovh/imgs/2021/07/fcd07497ac471641.jpg);">
  {% extends 'base.html' %}
  {% block header %}
  <h1 class="text-dark text-center font-italic"><strong>{% block title %}New Post{% endblock %}</strong></h1>
  {% endblock %}
  {% block content %}
  <div class="container col-md-8 bg-light">
    
    <form method="post">
      <label for="title">Title</label>
      <input name="title" id="title" value="{{ request.form['title'] }}" required>
      <label for="body">Body</label>
      <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
      <input type="submit" value="Save" class="btn btn-outline-dark btn-light">
    </form>
    
  </div>
  {% endblock %}
</body>